/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-narrow-700 - latin_cyrillic */
  @font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  }

/* *, *::before, *::after {
  box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url(/img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
  text-decoration: none;
  
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;

  background-color: f8f5f2;
  background-image: url(/img/index-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;
  color: #716f6e;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15 ;
}

.main-footer {
  color: #ffffff;
  background-color: #212121;
  background-image: url(/img/footer-bg.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.social-button-vk {
  background-image: url(/img/svg/vk.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-button-fb {
  background-image: url(/img/svg/facebook.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-button-inst {
  background-image: url(/img/svg/instagram.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url(/img/index-background.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}


/*Сетки*/
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.main-header-logo {
  order: 1;
}

.main-navigation-wrapper {
  width: 940px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.site-navigation, ul {
  padding: 0;
}

.site-navigation {
  width: 550px;
  display: flex;
  justify-content: space-around;
}


















